/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(.material-icons-outlined) {
  font-family: "Roboto", Tahoma, sans-serif;
}

.cdk-dialog-container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

@layer components {
  .z-100 {
    z-index: 100;
  }

  .animation-fade-in {
    @apply opacity-0;
    animation: fade-in 0.1s ease-in-out forwards;
  }

  .mirza-overlay {
    @apply fixed inset-0 bg-black bg-opacity-25 z-20 backdrop-blur-lg animation-fade-in;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}